@use './partials/colors.scss' as*;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 700;
}

img {
    max-width: 100%;
}

ul,
ol,
menu {
    list-style-type: none;
}

// CONTAINERS 

.container1 {
    width: 1146px;
    margin: 0 auto;
}

.container2 {
    width: 930px;
    margin: 0 auto;
}

// TITLES and TEXTS

.h1 {
    font-size: 72px;
    color: $shark;
    font-weight: 900;
}

.h3 {
    font-size: 26px;
    margin-bottom: 30px;
}

p {
    font-size: 16px;
    font-weight: 100;
}

.section-name {
    font-size: 18px;
    color: $elf-green;
    text-transform: uppercase;
}

// BADGES & BUTTONS 

.my-btn {
    font-size: 14px;
    height: 45px;
    padding: 14px 26px;
    text-transform: uppercase;
    border-radius: 3px;
}

.my-btn.dark {
    color: white;
    background-color: $elf-green;
    border: none;
}

.my-btn.light {
    border: 1px solid $elf-green;
    color: $elf-green;
}

// FA ICONS

.fa-solid,
.fa-regular {
    font-family: 'Font Awesome 6 Free';
}

// UTILITY CLASSES 

.flex-y-center {
    display: flex;
    align-items: center;
}

// LAYOUT

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.col6 {
    flex-basis: calc(50% - 16px/2);
}

.col4 {
    flex-basis: calc(100%/3 - 32px/3);
}