$woodsmoke: #121117;
$blue-lagoon: #048383;
$corduroy: #5C5E5E;
$edward: #AEB0B0;
$koromiko: #FEB169;
$fountain-blue: #45BBBC;
$piper: #C86F29;
$anakiwa: #96FEFE;
$shark: #1C2224;
$black-haze: #E8ECEA;
$sea-nymph: #729FA1;
$cape-palliser: #AC6B44;
$elm: #22918E;
$clody: #A5A09D;
$elf-green: #078282;
$limed-spruce: #3D4955;
$di-serria: #DC945C;
$header-blue: #21333E;